server:
  port: 8888

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: root

logging:
  config: classpath:logback-spring.xml

mybatis:
  mapper-locations: classpath:mapping/*.xml
